@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Noto Serif TC', serif;
    }
    @font-face {
        font-family: "Hanyi";
        src: url("../public/fonts/HanyiSentyZHAO.woff2") format("woff2")
    }
    @font-face {
        font-family: "SeaSpray";
        src: url("../public/fonts/HanyiSentySeaSpray.woff2") format("woff2")
    }
    @font-face {
        font-family: "Glyph";
        src: url("../public/fonts/glyph.ttf") format("truetype")
    }

    @font-face {
        font-family: 'Nunito', sans-serif;
    }
}

